---
title: "Ancoats Dispensary Trust"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/archway.jpg
excerpt: "‘The greatest glory of a building is not in its stones, nor in its good.  It’s glory is in its Age.  It has been a lasting witness through seasons and times and connects forgotten and following ages with each other.’ <br /> <br /> John Ruskin from 'The Seven Lamps of Architecture'"
feature_row:
  - image_path: /assets/images/glass/glass-6.jpg
    alt: "The Mission Statement"
    title: "The Mission Statement"
    url: "/mission"
    btn_label: "Read More"
    btn_class: "btn--primary" 
  - image_path: assets/images/promo-1.jpg
    alt: "Timeline"
    title: "Timeline"
    excerpt: "Find out more about the history of this incredibly important part of Manchester's heritage."
    url: "/history"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/promo-2.jpg
    alt: "placeholder image 2"
    title: "Fight to Save the Dispensary"
    excerpt: "Find out more about the origins of our campaign and the first steps in our fight to save the Dispensary."
    url: "/fight-to-save-the-dispensary"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/promo-3.jpg
    title: "Funding"
    excerpt: "Find out more about our fundraising achievements and our difficult journey with the Heritage Lottery Fund."
    url: "/funding-approval"
    btn_label: "Read More"
    btn_class: "btn--primary"
 
---

  {% include feature_row id="intro" type="center" %}

  {% include feature_row %}
  
