---
title: "Ancoats Dispensary Trust"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/archway-short.jpg
excerpt: "‘The greatest glory of a building is not in its stones, nor in its good.  It’s glory is in its Age.  It has been a lasting witness through seasons and times and connects forgotten and following ages with each other.’"
intro: 
  - excerpt: 'QUOTE BY JOHN RUSKIN from ‘THE SEVEN LAMPS OF ARCHITECTURE’'
feature_row:
  - image_path: assets/images/promo-1.jpg
    alt: "Timeline"
    title: "Timeline"
    excerpt: "Find out more about the history of this incredibly important part of Manchester's heritage."
    url: "/history"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/promo-2.jpg
    alt: "placeholder image 2"
    title: "Fight to Save the Dispensary"
    excerpt: "Find out more about the origins of our campaign and the first steps in our fight to save the Dispensary."
    url: "/fight-to-save-the-dispensary"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/promo-3.jpg
    title: "Funding"
    excerpt: "Find out more about our fundraising achievements and our difficult journey with the Heritage Lottery Fund."
    url: "/funding-approval"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/glass/glass-6.jpg
    alt: "Glass Exhibition"
    title: "Glass Exhibition"
    excerpt: "Find out more about ADT's fundraising events, including The Glory of Glass in Ancoats display."
    url: "/glass-exhibition"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/film-production.png
    alt: "Film Production"
    title: "Film Production"
    excerpt: 'Immerse yourself in what could have been by seeing the fantastic ideas our Manchester School of Art students came up with for the Dispensary.'
    url: "/film-production"
    btn_label: "Read More"
    btn_class: "btn--primary"    
---

  {% include feature_row id="intro" type="center" %}

  {% include feature_row %}
  
  {% include feature_row id="feature_row2" type="left" %}

  {% include feature_row id="feature_row3" type="right" %}
  